<h3 style="color: greenyellow">
  <i class="fa fa-check fa-md fa-fw" aria-hidden="true" style="margin-top: 37px"></i>
  The car is available for rent
</h3>

<div class="row">
  <div class="col-6">
    <h5>Daily cost: </h5>
    <h5>Late return cost: </h5>
    <h5>Number of days to rent: </h5>
    <h5>Total sum: </h5>
  </div>
  <div class="col-6">
    <h5>{{ getDailyCost() }} </h5>
    <h5> {{ getLateReturnCost() }} </h5>
    <h5> {{ getNumberOfDaysToRent() }} </h5>
    <h5> {{ getOrderTotalSum() }}</h5>
  </div>
</div>
