<div class="card container" style="margin-top: 20px">
  <div class="card-header">
    <h2 style="text-align: center">
      Car Management
    </h2>
  </div>
  <div class="card-body" style="text-align: center">
    <form #f="ngForm">
      <div class="col form-group inputWithIcon">
        <label for="number">Enter the car number to return</label>
        <input id="number" #number="ngModel" name="number" [(ngModel)]="searchCarForm.number" type=number
               class="form-control" required>
        <i class="fa fa-car fa-2x" aria-hidden="true" style="left: 16px; top: 25px;"></i>
        <div class="alert alert-danger" *ngIf="number.touched && number.invalid">
          <div *ngIf="number.errors.required">Car number is required.</div>
        </div>
      </div>

      <div class="col">
        <button
          routerLink="/"
          [disabled]="!f.valid"
          (click)="onSearchCarClicked()"
          class="btn btn-secondary btn-block">
          <i class="fa fa-sign-in fa-2x" aria-hidden="true" style="left: -34px; top: 25px;"></i>
          Login
        </button>
      </div>
    </form>
  </div>
</div>
