section {
  padding: 60px 0;
  min-height: 100vh;
}


.logRegForm .loginnow,
.logRegForm .lostpass,
.logRegForm .loginwith,
.logRegForm .loginwithfb,
.logRegForm .loginwithgoogle {
  width: 100%;
  height: 60px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: block;

}

.logRegForm .loginnow:focus,
.logRegForm .lostpass:focus,
.logRegForm .loginwith:focus,
.logRegForm .loginwithfb:focus,
.logRegForm .loginwithgoogle:focus {
  outline: 0px;
}


.logRegForm .loginwith {
  color: #cecece;
  background: none;
  margin: 3px 0px 3px;
  display: inline-block;
}

.logRegForm .loginnow {
  background: grey;
}

.logRegForm .lostpass {
  background: #555;
  border: 2px solid #555;
}

.logRegForm .contact_form_wrappre2 {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  padding: 15px 60px 80px;
}

.logRegForm {
  padding: 30px 0px 30px;
}

.logRegForm .input-group-text {
  padding: 0px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  text-align: center;
  /*background-color: #9fde50;*/
  border: 0px solid #ced4da;
  border-radius: 0px;
  width: 60px;
  height: 60px;
}

.logRegForm .input-group-text i {
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
}

.logRegForm .input-group {
  margin-bottom: 30px;
}

.logRegForm .input-group input {
  padding-left: 30px;
  border: 2px solid rgba(0, 0, 0, 0.10);
}

.logRegForm textarea {
  width: 100%;
  height: 240px;
  resize: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 60px;
  border: 2px solid rgba(0, 0, 0, 0.10);
}

.logRegForm .input-group .form-control {
  height: 60px;
  border-radius: 0px;
}

.logRegForm h2{
  color: #333;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 63px;
  font-size: 46px;
  line-height: 50px;
}


.inputWithIcon input {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
