<div class="sticky-top" style="margin-top: 21px">
  <div style="cursor: pointer" (click)="onCarsClicked()">
    <i class="fa fa-car fa-lg fa-3x" aria-hidden="true"></i>
    <h5 style="width: 100px; margin-top: 12px">Cars</h5>
  </div>
  <br/>
  <div style="cursor: pointer" (click)="onCarsTypeClicked()">
    <i class="fa fa-file fa-lg fa-3x" aria-hidden="true"></i>
    <h5 style="width: 100px; margin-top: 12px">Cars type</h5>
  </div>
  <br/>
  <div style="cursor: pointer" (click)="onUsersClick()">
    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
    <h5 style="width: 100px; margin-top: 12px">Users</h5>
  </div>
  <br/>
  <div style="cursor: pointer" (click)="onOrdersClicked()">
    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
    <h5 style="width: 120px; margin-top: 12px">Orders</h5>
  </div>
</div>
