<div class="sticky-top" style="margin-top: 21px">
  <div style="cursor: pointer" (click)="onDetailsClick()">
    <i class="fa fa-car fa-lg fa-3x" aria-hidden="true"></i>
    <h5 style="width: 100px; margin-top: 12px">Car details</h5>
  </div>
  <br/>
  <div style="cursor: pointer" (click)="onRentClick()">
    <i class="fa fa-tag fa-3x" aria-hidden="true"></i>
    <h5 style="width: 100px; margin-top: 12px">Rent details</h5>
  </div>
  <br/>
  <div style="cursor: pointer" (click)="onCollectPoints()">
    <i class="fa fa-map fa-3x" aria-hidden="true"></i>
    <h5 style="width: 120px; margin-top: 12px">Collect points</h5>
  </div>
</div>
